.button-on {
    height: 50px;
    width: 50px;
    color: red;
    border: 10px;
    margin: 5px;
    position: center;
}

.button-off {
    height: 50px;
    width: 50px;
    color: gray;
    border: 10px;
    margin: 5px;
    position: center;
}
