.title {
    font-size: 25px;
    color: #000;
    margin-bottom: 20px;
    position: center;
}

.subtitle {
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
    position: center;
}

.sticky {
    position: sticky;
    margin-bottom: 25px;
}
